.container {
  text-align: center;
}

.content {
  background-color: #97c6c9;
  margin: 0;
  padding: 1rem 0;
  color: white;

  p {
    margin: 0;
  }
}
.imageContainer {
  display: flex;
  background-color: #97c6c9;
  padding: 2rem 0;
  overflow: auto;
  white-space: nowrap;

  .infoImage {
    width: 20%;
    margin: auto;
    padding: 0 2rem;
  }
}
